.comment-sec
  .sec-title
    %h5
      Comments
      %span (03)
  .comment-box.d-flex
    .comment-img
      %a{:href => ""}
        %img{:alt => "", :src => "images/comm-1.jpg"}/
    .comment-con
      %ul.list-unstyled.list-inline
        %li.list-inline-item
          %a{:href => ""} John Doe
        %li.list-inline-item
          %a{:href => ""} Reply
      %span Feb 11, 2019 at 3:15pm
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nam, non magnam molestias aspernatur. Magni suscipit sequi harum odit sunt est.
  .comment-box.comment-box2.d-flex
    .comment-img
      %a{:href => ""}
        %img{:alt => "", :src => "images/comm-2.jpg"}/
    .comment-con
      %ul.list-unstyled.list-inline
        %li.list-inline-item
          %a{:href => ""} Mary Chang
        %li.list-inline-item
          %a{:href => ""} Reply
      %span Feb 11, 2019 at 3:15pm
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nam, non magnam molestias aspernatur. Magni suscipit sequi harum odit sunt est.
  .comment-box.d-flex
    .comment-img
      %a{:href => ""}
        %img{:alt => "", :src => "images/comm-3.jpg"}/
    .comment-con
      %ul.list-unstyled.list-inline
        %li.list-inline-item
          %a{:href => ""} Kate Brown
        %li.list-inline-item
          %a{:href => ""} Reply
      %span Feb 11, 2019 at 3:15pm
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit nam, non magnam molestias aspernatur. Magni suscipit sequi harum odit sunt est.
