%ul.list-unstyled.list-inline.f-social
  %li.list-inline-item
    = link_to "https://www.facebook.com/aaajysugente/", target: "blank" do
      %i.fa.fa-facebook
  %li.list-inline-item
    = link_to "https://twitter.com/aaajysugente", target: "blank" do
      %i.fa.fa-twitter
  %li.list-inline-item
    = link_to "https://www.instagram.com/aaajysugente/", target: "blank" do
      %i.fa.fa-instagram
  %li.list-inline-item
    = link_to "https://www.youtube.com/channel/UCcatJNy2S6AzqVUJ8NiFR9w/", target: "blank" do
      %i.fa.fa-youtube
