.follow-widget
  .sec-title
    %h5 Seguinos en
  %ul.list-unstyled.clearfix
    %li
      = link_to "https://www.facebook.com/aaajysugente/", target: "blank" do
        %i.fa.fa-facebook
        %p 750
    %li
      = link_to "https://twitter.com/aaajysugente", target: "blank" do
        %i.fa.fa-twitter
        %p 2,433
    %li
      = link_to "https://www.instagram.com/aaajysugente/", target: "blank" do
        %i.fa.fa-instagram
        %p 1,010
