%section.footer-btm
  .container
    .row
      .col-md-12
        .copyright-text
          %p
            Copyright © 2019 | Designed With
            %i.fa.fa-heart
            by
            %a{:href => "http://luigibyte.com.ar", :target => "_blank"} luigibyte
      -# .col-md-6
      -#   .ftb-menu.text-right
      -#     %ul.list-unstyled.list-inline
      -#       %li.list-inline-item
      -#         %a{:href => ""} Home
      -#       %li.list-inline-item
      -#         %a{:href => ""} Map
      -#       %li.list-inline-item
      -#         %a{:href => ""} Site Map
      -#       %li.list-inline-item
      -#         %a{:href => ""} Location
      -#       %li.list-inline-item
      -#         %a{:href => ""} Blog
  .back-to-top.text-center
    %a{"data-scroll" => "", :href => "#btt"}
      %i.fa.fa-angle-up
