%section.logo-area#btt
  .container
    .row
      .col-md-8
        .logo
          = link_to root_path do
            = image_tag 'header-locos.png', class: 'img-fluid', width: '250'
      .col-md-4
        .searchbar.text-right
          %form{:action => "#"}
            %input{:placeholder => "Buscar...", :required => "", :type => "text"}/
            %button{:type => "submit"}
              %i.fa.fa-search
