%section.menu-area
  .container
    .row
      .col-md-9
        .main-menu
          %ul.list-unstyled.list-inline
            - Category.parents.each do |parent_category|
              %li.list-inline-item
                %a
                  = parent_category.name.upcase
                  - if parent_category.children.any?
                    %i.fa.fa-angle-down
                - if parent_category.children.any?
                  %ul.dropdown.list-unstyled
                    - parent_category.children.each do |child_category|
                      %li= link_to child_category.name, home_category_path(child_category.slug)
            %li.list-inline-item
              = link_to '¿QUIENES SOMOS?', about_path
      .col-md-3
        .clock.text-right
          %span#dg-clock
