%section.mobile-menu-area
  .container
    .row
      .col-md-12
        .mobile-menu
          %nav#dropdown
            %a{:href => ""}
              = image_tag 'header-locos.png'
            %ul.list-unstyled
              - Category.parents.each do |parent_category|
                %li
                  = link_to parent_category.name, home_category_path(parent_category.slug)
                  %ul.list-unstyled
                    - parent_category.children.each do |child_category|
                      %li= link_to child_category.name, home_category_path(child_category.slug)