%section.mobile-menu-area
  .container
    .row
      .col-md-12
        .mobile-menu
          %nav#dropdown
            %a{:href => ""}
              = image_tag 'logo.png'
            %ul.list-unstyled
              %li
                %a INICIO
                %ul.list-unstyled
                  - Category.all.each do |category|
                    %li= link_to category.name, home_category_path(category.slug)
              %li
                = link_to "FUTBOL PROFESIONAL", home_category_path('futbol-profesional')