%section.top-news
  .container
    .news-content
      .row
        .col-md-12
          .ticker.d-flex
            .news-head
              %span
                BREAKING NEWS
                %i.fa.fa-caret-right
            %ul#webTicker
              %li
                %a{:href => ""}
                  %i.fa.fa-dot-circle-o>
                  These sentences are selected from various online news.
              %li
                %a{:href => ""}
                  %i.fa.fa-dot-circle-o>
                  This handout will help you understand how paragraphs are formed.
              %li
                %a{:href => ""}
                  %i.fa.fa-dot-circle-o>
                  It is usually composed of several sentences that together develop one.
              %li
                %a{:href => ""}
                  %i.fa.fa-dot-circle-o>
                  The purpose of this handout is to give some basic instruction.
