/ About Area
%section.about-us
  .container
    .row
      .col-md-12
        .sec-top.text-center
          %h4 ¿QUIENES SOMOS?
      .col-lg-6.col-md-12
        .about-box
          %h4
            AAAJ y su gente
          %p
            Podría ser un cuento de Sacheri, de Fontanarrosa, de Galeano o hasta del gordo Caseari.
            Era un grupo de siete u ocho pibes del barrio de la paternal que tenían un sueño, tener su programa de radio. 
            Claro por ese entonces argentinos juniors era como los gitanos, no tenia cancha y jugaba de local en deportivo español, huracán, atlanta, en boca. Claro no tenia una localia firme, pero cada vez que terminaba un partido estos adolescentes se quedaban hasta altas horas de la noche hablando y soñando. Por que deportivo español y hasta chacarita tenia su audición, y como el bicho de la paternal no iba a tener su programa de radio. Fue así que rompiendo algunas alcancías, buscando publicidad en el kiosco de la esquina, sobre san blas o jonte, la veterinaria, hasta la tintorería de un chino o de un japones ahí sobre la calle terrada, iban poniendo algunos pesos y fue así como argentinos juniors y su gente armo su primer programa, era en fm sol, juan b. justo y añasco por ahí, sobre la calle añasco. Claro que si vos cruzabas Juan B. justo para el otro lado, aquel 3 de octubre de 1990 tal vez los escucharás con ruido, pero si estabas del lado par lo escuchabas perfecto. Si cruzabas la av. San Martin, ahí la señal se te iba, pero lo mágico fue el primer día, el otro fin de semana cuando argentinos jugo de local. Me parece estoy casi seguro que fue contra huracán, la gente comentaba " che escucharon argentinos tiene su programa de radio", tiene la audición. Claro por ese entonces se llama audición al programa, por que uno tenia que esperar treinta segundos que el gordo Muñoz o Victor Hugo diga el flash informativo: Argentinos juniors (treinta segundos) y no llegabas a enterarte de nada. y ahora ya se cumplen 29 años que argentinos juniors y su Gente tiene su programa y vos todos los miércoles a las 22 horas podes sintonizar am 610 y que vas a conseguir?. Te vas a informar, vas a formar una idea, te vas a entretener y de eso se trata que cada miércoles Argentinos Juniors y su Gente entre adentro de tu corazón.
      .col-lg-6.col-md-12
        .about-img
          = image_tag 'about.jpg', class: 'img-fluid'   
-#       .col-md-12
-#         .team
-#           .sec-title
-#             %h5 Staff
-#           .team-slider.owl-carousel
-#             .slider-item.text-center
-#               = image_tag 'about.jpg', class: 'team-1.jpg'
-#               %h5
-#                 %a{:href => ""} Mr. John Doe
-#               %p Founder
-#               %ul.list-unstyled.list-inline
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-facebook
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-twitter
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-google-plus
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-linkedin
-#             .slider-item.text-center
-#               = image_tag 'about.jpg', class: 'team-1.jpg'
-#               %h5
-#                 %a{:href => ""} Ms. Jasica Brown
-#               %p Editor
-#               %ul.list-unstyled.list-inline
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-facebook
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-twitter
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-linkedin
-#             .slider-item.text-center
-#               = image_tag 'about.jpg', class: 'team-1.jpg'
-#               %h5
-#                 %a{:href => ""} Mr. Adam Green
-#               %p Publisher
-#               %ul.list-unstyled.list-inline
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-facebook
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-twitter
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-google-plus
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-linkedin
-#             .slider-item.text-center
-#               = image_tag 'about.jpg', class: 'team-1.jpg'
-#               %h5
-#                 %a{:href => ""} Ms. Katrina Jun
-#               %p Photographer
-#               %ul.list-unstyled.list-inline
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-facebook
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-twitter
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-google-plus
-#             .slider-item.text-center
-#               = image_tag 'about.jpg', class: 'team-1.jpg'
-#               %h5
-#                 %a{:href => ""} Mr. David Show
-#               %p Manager
-#               %ul.list-unstyled.list-inline
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-facebook
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-twitter
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-google-plus
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-linkedin
-#             .slider-item.text-center
-#               = image_tag 'about.jpg', class: 'team-1.jpg'
-#               %h5
-#                 %a{:href => ""} Ms. Tailor Brown
-#               %p Officer
-#               %ul.list-unstyled.list-inline
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-facebook
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-twitter
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-linkedin
-# / End About Area
