/ About Area
%section.about-us
  .container
    .row
      .col-md-12
        .sec-top.text-center
          %h4 ¿QUIENES SOMOS?
      .col-lg-6.col-md-12
        .about-box
          %h4
            Locos por Argentinos
          %p
            Este es un grupo de amigos muy especial, ya que los une la amistad y el amor por el tifón de boyaca..
            Hemos compartido asados... tardes de mate... cenas familiares... y siempre nuestras charlas terminaban hablando de lo que más nos apasiona... el fútbol... el bicho... el club... 
          %p
            Luego de varias sobremesas, se gestó una idea ...un sueño ... nuestro sueño... llevar nuestras charlas mas allá y compartirlas con ustedes... y que ustedes las compartan con nosotros... 
          %p
            Alguno dijo " che y se hacemos un programa de radio?... " algo impensado hace unos años atrás... .. Con tanta vivencias juntos, era el momento justo en que el grupo emprendiera un objetivo en común.
          %p
            Y esa idea se tranformo en meta... y esa meta se plasmó en un programa... muchos nos llamaban locos! Hoy sabemos que lo somos.... somos locos por una pasión... somos locos por el club de nuestros amores... somos locos por los colores.. sí... somos LOCOS X ARGENTINOS! 
          %p
            Con esfuerzo y trabajo logramos crear nuestro programa... nos propusimos acercarte historias... actualidad... entrevistas... opiniones... anécdotas.... interactuar con vos que estás del otro lado... escucharte ... sí darte un espacio para que tu opinión nutra el programa martes a martes.
          %p
            Hoy fuimos creciendo y lo que alguna vez fue una loca idea, en la actualidad se concretó en este espacio de charla que todos los martes podes vernos en vivo por YouTube, Instagram, Twitter, Facebook e internet. 
          %p
            Por eso somos locos por argentinos, porque todo el tiempo estámos revisando y corroborando cada información que sale sobre el club. 
          %p
            También se esta empezando un hermosa interacción con los oyente que quieren que la semana sea más corta, para poder escucharnos y ver que hay de nuevo en nuestra hermosa institucional llamada Argentinos Juniors.
          %p
            Los integrantes de locos por argentinos son: Rodrigo Antonello (experimentado conductor), Carlos Miro (historiador del programa), Diego Castro (panelista del programa) Dario Ponce (Ingeniero del programa) Óscar Alvarez (Panelista del programa )
      .col-lg-6.col-md-12
        .about-img
          = image_tag 'logo-big.jpg', class: 'img-fluid'   
-#       .col-md-12
-#         .team
-#           .sec-title
-#             %h5 Staff
-#           .team-slider.owl-carousel
-#             .slider-item.text-center
-#               = image_tag 'about.jpg', class: 'team-1.jpg'
-#               %h5
-#                 %a{:href => ""} Mr. John Doe
-#               %p Founder
-#               %ul.list-unstyled.list-inline
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-facebook
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-twitter
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-google-plus
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-linkedin
-#             .slider-item.text-center
-#               = image_tag 'about.jpg', class: 'team-1.jpg'
-#               %h5
-#                 %a{:href => ""} Ms. Jasica Brown
-#               %p Editor
-#               %ul.list-unstyled.list-inline
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-facebook
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-twitter
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-linkedin
-#             .slider-item.text-center
-#               = image_tag 'about.jpg', class: 'team-1.jpg'
-#               %h5
-#                 %a{:href => ""} Mr. Adam Green
-#               %p Publisher
-#               %ul.list-unstyled.list-inline
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-facebook
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-twitter
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-google-plus
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-linkedin
-#             .slider-item.text-center
-#               = image_tag 'about.jpg', class: 'team-1.jpg'
-#               %h5
-#                 %a{:href => ""} Ms. Katrina Jun
-#               %p Photographer
-#               %ul.list-unstyled.list-inline
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-facebook
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-twitter
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-google-plus
-#             .slider-item.text-center
-#               = image_tag 'about.jpg', class: 'team-1.jpg'
-#               %h5
-#                 %a{:href => ""} Mr. David Show
-#               %p Manager
-#               %ul.list-unstyled.list-inline
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-facebook
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-twitter
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-google-plus
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-linkedin
-#             .slider-item.text-center
-#               = image_tag 'about.jpg', class: 'team-1.jpg'
-#               %h5
-#                 %a{:href => ""} Ms. Tailor Brown
-#               %p Officer
-#               %ul.list-unstyled.list-inline
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-facebook
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-twitter
-#                 %li.list-inline-item
-#                   %a{:href => ""}
-#                     %i.fa.fa-linkedin
-# / End About Area
